In [133]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
%matplotlib inline

In [134]:
city = pd.read_csv('city.csv')

Столбцы и количество строк в таблице city

In [135]:
city.columns

Index(['address', 'postal_code', 'country', 'federal_district', 'region_type',
       'region', 'area_type', 'area', 'city_type', 'city', 'settlement_type',
       'settlement', 'kladr_id', 'fias_id', 'fias_level', 'capital_marker',
       'okato', 'oktmo', 'tax_office', 'timezone', 'geo_lat', 'geo_lon',
       'population', 'foundation_year'],
      dtype='object')

In [136]:
len(city)

1117

Узнали самое длинное название города в таблице

In [137]:
q=[]
for i in city["city"]:
    i = str(i)
    q.append(i)
print(f'Самое длинное название города в таблице имеет {len(max(list, key=len))} символов')

Самое длинное название города в таблице имеет 12 символов

Количество городов для каждого часового пояса в Сибирском и Приволжском федеральных округах
Ответ: 58

In [138]:
time = city[city['federal_district'].isin(['Приволжский', 'Сибирский'])]
time[['timezone','address']].groupby('timezone').count().rename({'address': 'Количество городов'}, axis=1)

          Количество городов
timezone
UTC+3                    101
UTC+4                     41
UTC+5                     58
UTC+6                      6
UTC+7                     86
UTC+8                     22

Количество городов в каждом часовом поясе, отсортированное по убыванию.

In [139]:
q = city[['timezone','address']].groupby('timezone').count().sort_values('address', ascending=False)
q.rename({'address': 'Количество городов'}, axis=1)

          Количество городов
timezone
UTC+3                    660
UTC+5                    173
UTC+7                     86
UTC+4                     66
UTC+9                     31
UTC+8                     28
UTC+10                    22
UTC+2                     22
UTC+11                    17
UTC+12                     6
UTC+6                      6

Индивидуальное задание

In [140]:
bitcoin = pd.read_csv('btc.csv')
bitcoin

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07
...,...,...,...,...,...,...,...
2582,2021-10-12,57526.832031,57627.878906,54477.972656,56041.058594,56041.058594,4.108376e+10
2583,2021-10-13,56038.257813,57688.660156,54370.972656,57401.097656,57401.097656,4.168425e+10
2584,2021-10-14,57372.832031,58478.734375,56957.074219,57321.523438,57321.523438,3.661579e+10
2585,2021-10-15,57345.902344,62757.128906,56868.144531,61593.949219,61593.949219,5.178008e+10
2586,2021-10-16,61495.410156,62232.257813,61110.839844,61628.851563,61628.851563,4.469134e+10

In [141]:
len(bitcoin)

2587

In [142]:
bitcoin.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

В эти дни открытие торгов началось со стоимости от 55000 до 57000 долларов:

In [143]:
o = bitcoin[bitcoin['Open'].between(55000, 57000)]
o[['Date', 'Open']]

            Date          Open
2348  2021-02-20  55887.335938
2349  2021-02-21  56068.566406
2367  2021-03-11  55963.179688
2372  2021-03-16  55840.785156
2373  2021-03-17  56825.828125
2383  2021-03-27  55137.566406
2384  2021-03-28  55974.941406
2385  2021-03-29  55947.898438
2395  2021-04-08  56099.914063
2406  2021-04-19  56191.585938
2407  2021-04-20  55681.792969
2408  2021-04-21  56471.128906
2415  2021-04-28  55036.636719
2420  2021-05-03  56620.273438
2424  2021-05-07  56413.953125
2428  2021-05-11  55847.242188
2429  2021-05-12  56714.531250
2577  2021-10-07  55338.625000
2583  2021-10-13  56038.257813

Наибольшая стоимость на каждые сутки начиная с 17.09.2014

In [144]:
d = weather[['Date','High']].groupby('Date')
h = d.max()
h.rename({'High':'Максимальная стоимость bitcoin'}, axis=1)

            Максимальная стоимость bitcoin
Date
2014-09-17                      468.174011
2014-09-18                      456.859985
2014-09-19                      427.834991
2014-09-20                      423.295990
2014-09-21                      412.425995
...                                    ...
2021-10-12                    57627.878906
2021-10-13                    57688.660156
2021-10-14                    58478.734375
2021-10-15                    62757.128906
2021-10-16                    62232.257813

[2587 rows x 1 columns]

Случаи когда торги закрывались на определенной стоимости. Сохранено в csv файл

In [149]:
a = bitcoin[bitcoin['Close'].isin(['408.903992'])]
a = a[['Date','Close', 'Volume']]
a.to_csv('close.csv' ,encoding='utf-8', index=False, sep='|')

Показатели на 16.10.2021г представленные в формат json

In [146]:
today = bitcoin[bitcoin['Date'].isin(['2021-10-16'])]
today = today[['Open','High','Low','Close','Volume']]
result = today.to_json(orient="records")
parsed = json.loads(result)

Показатели на 16.10.2021г

In [147]:
today = bitcoin[bitcoin['Date'].isin(['2021-10-16'])]
today = today[['Open','High','Low','Close','Volume']]
today

              Open          High           Low         Close        Volume
2586  61495.410156  62232.257813  61110.839844  61628.851563  4.469134e+10

Самая большая стоимость за все время:

In [148]:
list=[]
for c in bitcoin["High"]:
    c = str(c)
    list.append(c)
print(f'Самая большая стоимость за все время состоит из {len(max(list, key=len))} символов')

Самая большая стоимость за все время состоит из 12 символов